{
  "extends": [
    "standard",
    "standard-jsx",
    "standard-react",
    "prettier",
    "prettier/react"
  ],
  "plugins": ["unicorn"],
  "rules": {
    "react/react-in-jsx-scope": "off",
    "unicorn/no-abusive-eslint-disable": "error",
    "no-console": "warn"
  },
  "globals": {
    "fetch": false
  },
  "env": {
    "jest": true
  }
}
