{
  "extends": ["standard", "standard-react", "prettier", "prettier/react"],
  "plugins": ["unicorn"],
  "rules": {
    "react/react-in-jsx-scope": "off",
    "unicorn/no-abusive-eslint-disable": "error"
  },
  "env": {
    "jest": true
  }
}
